:root {
  --white: #e0e0e0;
  --black: #161616;
  --gray: #969696;
  --red: #f0506e;

  --easing: cubic-bezier(0.4, 0, 0.2, 1) 128ms 0ms;
}

:root,
textarea {
  font-family: "Roboto MonoVariable", monospace;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: var(--white);
  background-color: var(--black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::selection {
  color: var(--black);
  background-color: var(--gray);
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
}

* {
  box-sizing: border-box;
}
